.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(180, 233, 230);
  border: 2px solid rgba(69, 34, 98, 255);
  border-radius: 0.5rem;
  max-height: 90vh;
  max-width: 600px;
  width: 90%;
}

.modal-header {
  background-color: rgba(69, 34, 98, 255);
  color: white;
  border-bottom: 2px solid rgba(69, 34, 98, 255);
  padding: 1rem;
}

.modal-header img {
  width: 120px;
  height: auto;
  margin-right: 2rem;
}

.modal-title {
  font-size: 1.5rem;
  margin: 0;
  flex-grow: 1;
}

.modal-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-color: rgba(69, 34, 98, 255) #ffffff;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
  background: rgba(69, 34, 98, 255);
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 34, 98, 255);
}

/* Para navegadores que no soportan las pseudo-clases de WebKit */

.modal-body .content {
  color: rgba(69, 34, 98, 255);
}

.modal-footer {
  background-color: rgb(180, 233, 230);
  border-top: 2px solid rgba(69, 34, 98, 255);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal-footer .btn {
  background-color: rgba(69, 34, 98, 255);
  color: white;
  border: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-footer .btn:hover {
  background-color: rgba(69, 34, 98, 200);
  transform: scale(1.05);
}

.modal-footer .btn-secondary:hover {
  background-color: rgba(120, 60, 80, 255);
  color: white;
}

.modal-footer .btn-primary:hover {
  background-color: rgba(100, 80, 150, 255);
  color: white;
}
